# Dependencies
node_modules/
/.pnp
.pnp.js

# Production / Builds
dist/
build/
.netlify/

# Local Database & Cache
.data/
.eslintcache

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
Thumbs.db
